	body {
	  margin: 0;
	  font-family: Arial, Helvetica, sans-serif;
	}
	.backimg{
		background-image:url('retro.jpg')!important;
	}

	.topnav {
	  overflow: hidden;
	  opacity: 1;  
	}

	.topnav a {
	  float: left;
	  color: #fff;
	  text-align: center;
	  padding: 10px 16px;
	  text-decoration: none;
	  font-size: 14px;
	}

	.topnav a:hover {
	  border-style: dotted;
	  border-color: white;
	  border-width: 0.1px;
	}

	.topnav a.active {
	  border-style: dotted;
	  border-color: white;
	  border-width: 0.1px;
	}
	div.title-mid {
	margin-top: 10%;
	line-height: 114%;
	letter-spacing: 5px;
	}
	div.title-m{
	margin-left: 20%;
	margin-right: 20%;
	}
	nav.testnav a {
	text-decoration: none !important;
	}
	#loading { 
		display: block;
		width: 200px;
	}
	.center {
		display: block;
		margin-top: 10.25rem;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
	.bordinha{
		border: 2px solid;
		border-color: #343a40;
	}
	.loader {
		margin-top: 80px;
		border: 14px solid #f3f3f3;
		border-top: 14px solid;
		border-bottom: 14px solid;
		border-bottom-color: transparent!important;
		border-top-color: transparent!important;
		border-radius: 50%;
		width: 180px;
		height: 180px;
		animation: spin 1.5s linear infinite;
		margin: 0 auto;
	}

	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
